beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
humanize==4.6.0
idna==3.4
lxml==4.9.2
ostruct==4.0.0
pywebio==1.8.2
PyYAML==6.0
qbittorrent-api==2023.4.47
requests==2.30.0
six==1.16.0
soupsieve==2.4.1
tornado==6.3.1
ua-parser==0.16.1
urllib3==2.0.2
user-agents==2.2.0
